
<!-- Product page segment !-->
<div>
    <div id="deleteModal" class="my-modal dashed">
        <div class="body">
            <h2 class="ui header main">
                <div class="content">
                    Disable product
                </div>
            </h2>
            <h4 class="ui header main wrap">Active orders should be completed</h4>
            <span class="ui descriptor">
                You are going to disable product <span class="exact">imac</span>.
                This changes can be reverted.
            </span>

            <form class="ui form deleter">

                <div class="field">
                    <input type="text" placeholder="Confirm product name" />
                </div>

                <div class="ui message success">
                    <div class="header">Action Completed</div>
                    <p>Product was successfully disabled.</p>
                </div>

                <div class="ui message error">
                    <div class="header">Action Forbidden</div>
                    <p></p>
                </div>

                <div class="buttons container">
                    <button type="button" class="ui red button">Disable</button>
                </div>
            </form>
        </div>
    </div>

    <div id="createModal" class="my-modal page">
        <div class="body">
            <div class="closer">
                <i class="remove icon"></i>
            </div>

            <h2 class="ui header main">
                <div class="content">
                    Create product
                </div>
            </h2>
            <h4 class="ui header main wrap">Create new products for your store</h4>

            <form class="ui form deleter">
                <div class="field fileds-margin">
                    <div class="field fileds-margin">
                        <label>General information</label>
                        <div class="fields">
                            <div class="eight wide field">
                                <input type="text" name="title" placeholder="Title">
                            </div>
                            <div class="eight wide field">
                                <div class="ui category  search cat">
                                    <div class="ui left icon action input">
                                        <input class="prompt" name="category" type="text" placeholder="Search categories...">
                                        <i class="search icon"></i>
                                        <a class="ui button" href="/help/category" target="blank">Help</a>
                                    </div>
                                    <div class="results"></div>
                                </div>
                            </div>
                        </div>
                        <div class="five fields">
                            <div class="field">
                                <div class="ui left icon input">
                                    <input type="text" name="cost" placeholder="Price">
                                    <i class="dollar icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <input type="text" name="shipment" placeholder="Shipment">
                                    <i class="shipping icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <input type="text" name="delivery" placeholder="Delivery (days)">
                                    <i class="wait icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <input type="text" name="material" placeholder="Material">
                                    <i class="archive icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <input type="text" name="guarantee" placeholder="Guarantee">
                                    <i class="protect icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <textarea placeholder="Short description" name="description" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="field fileds-margin" id="typesColorist">
                        <label>Colors</label>
                        <div class="ui grid nested"></div>
                        <div class="fields">
                            <div class="five wide field">
                                <input type="text" name="titleVR" placeholder="Title">
                            </div>
                            <div class="four wide field">
                                <input type="text" name="valueVR" placeholder="Id">
                            </div>                          
                            <div class="one wide field">
                                <input type="color" name="color" placeholder="HEX Preview">
                            </div>
                            <div class="five wide field">        
                                <div class="ui action input">
                                    <input type="file" style="display:none;" name="image" accept="image/*">
                                    <input type="text" name="path" placeholder="Image" disabled>
                                    <button type="button" class="ui button" name="imagebutton">Select</button>
                                </div> 
                            </div>                          
                            <div class="two wide field flexer">
                                <button type="button" class="ui teal tiny button"> Add </button>
                            </div>
                        </div>
                    </div>

                    <div class="field fileds-margin" id="typesSize">
                        <label>Size</label>
                        <div class="ui grid nested"></div>
                        <div class="fields">
                            <div class="five wide field">
                                <input type="text" name="titleVR" placeholder="Title">
                            </div>
                            <div class="four wide field">
                                <input type="text" name="valueVR" placeholder="Id">
                            </div>
                            <div class="two wide field flexer">
                                <button type="button" class="ui teal tiny button"> Add </button>
                            </div>
                            <div class="six wide field"></div>
                        </div>
                    </div>

                    <div class="field fileds-margin" id="typesStock">
                         <label>Stock</label>
                         <div class="ui grid">
                         
                         </div>                       
                    </div>


                    <div class="field fileds-margin">
                        <label>Full description</label>
                        <div class="field">
                            <textarea class="wwc" placeholder="Full description" name="fldescription"></textarea>
                        </div>
                    </div>

                </div>

                <div class="ui custom error message">
                    <div class="header">Action Forbidden</div>
                    <p></p>
                </div>

                <div class="buttons container">
                    <button type="submit" class="ui green button">                            
                      Create
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="editModal" class="my-modal page">
        <div class="body">
            <div class="closer">
                <i class="remove icon"></i>
            </div>

            <h2 class="ui header main">
                <div class="content">
                    Edit product
                </div>
            </h2>
            <h4 class="ui header main wrap">Change stock and disable types. </h4>
            <div class="ui descriptor"> For product <span class="exact"></span>.</div>
            
            <div class="ui form">
                <div class="two fields">
                     <div class="field">
                        <label class="semantic label">Types</label>
                        <div class="ui segment scroll types" style="overflow-y:scroll; height : 400px;">
                        </div>
                    </div>
                
                    <div class="field">
                        <label class="semantic label">Stock</label>
                        <div class="ui segment scroll stock" style="overflow-y:scroll; height : 400px;">
                        </div>
                    </div>
                </div>
            </div>

                

        </div>
    </div>

    <div id="finishModal" class="my-modal dashed">
        <div class="body">
            <h2 class="ui header main">
                <div class="content">
                    Delete product
                </div>
            </h2>
            <h4 class="ui header main wrap">All related items will be deleted (auctions, orders, wishes)</h4>
            <span class="ui descriptor">
                You are going to delete product <span class="exact">imac</span>. 
                You can perform this action if there are no related orders or/and auctions.
            </span>

            <form class="ui form deleter">

                <div class="field">
                    <input type="text" placeholder="Confirm product name" />
                </div>
                <div class="ui error message">
                    <div class="header">Action Forbidden</div>
                    <p></p>
                </div>

                <div class="buttons container">
                    <button type="button" class="ui red button">Delete</button>
                </div>
            </form>


        </div>
    </div>

    <div id="renewModal" class="my-modal dashed">
        <div class="body">
            <h2 class="ui header main">
                <div class="content">
                    Renew product
                </div>
            </h2>
            <h4 class="ui header main wrap">Users will be able to create new orders with this product.</h4>
            <span class="ui descriptor">
                You are going to renew product <span class="exact">imac</span>.
                You can find and edit this product as always.
            </span>

            <form class="ui form deleter">

                <div class="field">
                    <input type="text" placeholder="Confirm product name" />
                </div>

                <div class="buttons container">
                    <button type="button" class="ui green button">Renew</button>
                </div>

                <div class="ui message success">
                    <div class="header">Action Completed</div>
                    <p>Product was successfully renewed.</p>
                </div>

                <div class="ui message error">
                    <div class="header">Action Forbidden</div>
                    <p></p>
                </div>

            </form>
        </div>
    </div>

    <div id="auctionNewModal" class="my-modal page medium">
     <div class="body">            
            <h2 class="ui header main">
                <div class="content">
                    Add product to auction.
                </div>
            </h2>
            <h4 class="ui header main wrap">Users will be able to win your product via placing bids.</h4>
            <span class="ui descriptor">
                You are going to create auction item <span class="exact"></span>.
                Your product's stock quantity is not reflected as your auction's stock quantity. You will be able update or pause auction item. <br><br>
                User will be able to choose type (color/size) of product after winning.
            </span>

            <form class="ui form deleter">
                <div class="field fileds-margin">
                    <label>Listing Type</label>                
                    <div class="fields">                        
                        <div class="ten wide field">
                            <select class="ui dropdown" name="type">
                                <option value="">Auction type</option>
                                <option value="standard">Standard Listing</option>
                                <option value="featured">Featured Listing</option>
                                <option value="reserved">Reserved Listing</option>
                                <option value="small">Standard 20% Percent</option>
                                <option value="big">Big Percentage 50%</option>                                
                            </select>                          
                        </div>
                        <div class="six wide field">
                                <div class="ui left icon input">
                                    <input type="text" name="stock" placeholder="In Stock (auction)">
                                    <i class="shop icon"></i>
                                </div>
                        </div>           
                    </div>
                </div>
                <div class="field fileds-margin">
                  <label>Listing Type Explanation</label>  
                  <div class="fields">
                     <div class="two wide field partlydisabled">
                        <input type="text" name="fee" placeholder="Fee">
                     </div>
                     <div class="four wide field partlydisabled">
                        <input type="text" name="ape" placeholder="Explanation">
                     </div>
                     <div class="ten wide field partlydisabled">
                        <input type="text" name="exp" placeholder="Appearence">
                     </div> 
                  </div>                                
                </div> 
                <div class="field fileds-margin">
                  <label>Starting price in dollars</label>            
                  <div class="fields">
                     <div class="sixteen wide field partlydisabled">
                        <input type="text" name="str" placeholder="Starting price">
                     </div>                     
                  </div>
                </div>

                <div class="ui message success">
                    <div class="header">Auction Created</div>
                    <p> Auction item was successfully published </p>
                </div>

                <div class="ui custom message error">
                    <div class="header">Action Forbidden</div>
                    <p> 
                        Auction item wasn't successfully published.                    
                    </p>
                </div>

                <div class="buttons container">
                    <button type="submit" class="ui green button">Create</button>
                </div>
            </form>

        </div>
    </div>

    <div id="auctionUpdateModal" class="my-modal dashed">
        <div class="body">
              <h2 class="ui header main">
                <div class="content">
                    Update auction stock
                </div>
            </h2>
            <h4 class="ui header main wrap">Completed auction items will be restarted. Stock will be updated on next auction tick.</h4>
            <span class="ui descriptor">
                You are going to update auction item <span class="exact">imac</span>.                
            </span>

            <form class="ui form deleter">

                <div class="field">
                    <input type="text" name="stock" placeholder="Stock" />
                </div>

                <div class="ui message success">
                    <div class="header">Action Completed</div>
                    <p> Auction item was successfully updated </p>
                </div>

                <div class="ui message error">
                    <div class="header">Action Forbidden</div>
                    <p> Ooops... Error occurred </p>
                </div>

                <div class="buttons container">
                    <button type="submit" class="ui green button">Update</button>
                </div>
            </form>
        </div>
    </div>

    <div id="auctionPauseModal" class="my-modal dashed">
        <div class="body">
            <h2 class="ui header main">
                <div class="content">
                    Pause/Unpause Auction item
                </div>
            </h2>
            <h4 class="ui header main wrap">Change state of your auction item</h4>
            <span class="ui descriptor">
                You are going to disable product <span class="exact">imac</span>.
                This changes can be reverted.
            </span>

            <form class="ui form deleter">        
                <div class="ui message success">
                    <div class="header">Action Completed</div>
                    <p> Auction item was successfully updated </p>
                </div>

                <div class="ui message error">
                    <div class="header">Action Forbidden</div>
                    <p> Ooops... Error occurred </p>
                </div>
                <div class="buttons container">
                    <button type="submit" class="ui red button">Disable</button>
                </div>
            </form>
        </div>        
    </div>

    <div id="winningUpdateModal" class="my-modal dashed">
         <div class="body">
            <h2 class="ui header main">
                <div class="content">
                    Update Winning item
                </div>
            </h2>
            <h4 class="ui header main wrap">Change track number (delivery) of winning item</h4>
            <span class="ui descriptor">
                 Please leave only valid data. Any not proper things will be reported.
                 This changes will be displayed in
                <span class="exact">Winner name</span> personal account.              
            </span>

            <form class="ui form"> 
                <div class="field">               
                    <label>Track Number</label>                       
                    <input type="text" name="track" placeholder="Track Number">                    
                </div>

                <div class="ui message success">
                    <div class="header">Action Completed</div>
                    <p> Winning item was successfully updated </p>
                </div>

                <div class="ui message error">
                    <div class="header">Action Forbidden</div>
                    <p> Ooops... Error occurred </p>
                </div>    

                <div class="buttons container">
                    <button type="submit" class="ui blue button">Update</button>     
                </div>                       
            </form>  
        </div>    
    </div>

    <div id="winningDetailsModal" class="my-modal page">      
        <div class="body">            
            <h2 class="ui header main">
                <div class="content">
                    Winning general details
                </div>
            </h2>
            <h4 class="ui header main wrap">Information about winner</h4>
            <span class="ui descriptor">
                Use this information for creating package with the right type of product and correct destination.
            </span>
            <div class="ui segment row none">
                <div class="col-md-6 nopadding">
                    <div class="details once">
                        <div class="details title">
                            <i class="user icon"></i> Winner name 
                        </div><div class="details value"></div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="external share icon"></i> Product link
                        </div><div class="details value">
                            <a href="/product/" target="blank"></a>
                        </div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="world icon"></i> Shipment
                        </div><div class="details value"></div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="travel icon"></i> Selected type
                        </div><div class="details value"></div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="barcode icon"></i> Track number 
                        </div><div class="details value"></div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="help icon"></i> Status
                        </div><div class="details value bolded"></div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="dollar icon"></i> Price
                        </div><div class="details value"></div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="shipping icon"></i> Shipment cost
                        </div><div class="details value"></div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="check icon"></i> Is paid
                        </div><div class="details value"></div>
                    </div>
                </div>
                <div class="col-md-6 nopadding addressed">
                    <div class="inline-sub">
                        Shipment information <br> 
                        (left by customer during checkout)
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="address book icon"></i> First name 
                        </div><div class="details value"></div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="address book outline icon"></i> Last name
                        </div><div class="details value"></div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="address card share icon"></i> Address
                        </div><div class="details value">
                           
                        </div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="building icon"></i> City
                        </div><div class="details value">
                           
                        </div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="mail icon"></i> Postal code 
                        </div><div class="details value"> </div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="flag icon"></i> Country
                        </div><div class="details value"> </div>
                    </div>

                    <div class="details once">
                        <div class="details title">
                            <i class="mobile icon"></i> Phone
                        </div><div class="details value"> </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>