<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Just Bid Live</title>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="preview/css/main.css">
    <!-- build:remove -->

    <!-- /build -->
</head>

<body>
    <div id="app" class="body">
        <div class="video">
            <video autoplay="autoplay" loop="loop">
                <source src="preview/assets/video/background_2.mp4" type="video/mp4">
            </video>
            <div class="overlay"></div>
        </div>
        <div class="container">
            <div class="content">
                <img src="preview/assets/img/logo.png">
                <div class="holder">
                    <a href="/live"> For buyers </a>
                    <a href="/seller/signin" class="inverted"> For sellers </a>
                </div>
            </div>
            <div class="text"></div>
            <div class="description">
                <div class="exact">
                    <div class="row context">
                        <div class="col-12 col-sm-12 col-md-5">
                            <img src="preview/assets/img/iphone.png" class="iphone">
                        </div>
                        <div class="col-12 col-sm-12 col-md-7">
                            <p>
                                <span class="header">Place your bids !</span>
                                <span>
                                    Tired Of All Those Boring Online Auction Sites?
                                    <br> – Just Bid Live Is Your Answer
                                    <br> Wouldn’t it be nice if there was an online auction platform that would leave both the
                                    sellers and the bidders happy and satisfied? Just Bid Live is a revolutionary twist to
                                    average auction websites. The user friendly interface, unique bidding and selling opportunities
                                    and funky design will help both sellers and buyers to enjoy a unique experience!</span>
                            </p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-7" id="big">
                            <p class="fixed">
                                <span class="header">Buy in store!</span>
                                <span>An online shopping experience that will bring buyers and sellers together through a win-win
                                    situation. Why wait for your auctions while you can browse through popular items from
                                    our top rated sellers. With easy protected payments and end to end user communication,
                                    you will be glad to have found Just Bid Live.</span>
                            </p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-5">
                            <img src="preview/assets/img/mac.png" class="iphone mac">
                        </div>
                        <div class="col-12 col-sm-12 col-md-7" id="small">
                            <p class="fixed">
                                <span class="header">Buy in store!</span>
                                <span>An online shopping experience that will bring buyers and sellers together through a win-win
                                    situation. Why wait for your auctions while you can browse through popular items from
                                    our top rated sellers. With easy protected payments and end to end user communication,
                                    you will be glad to have found Just Bid Live.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="credits">
            <a href="http://www.freepik.com/free-psd/white-mobile-phone-mock-up_863551.htm" class="btn btn-outline-secondary">(iPhone) Qeaql-studio - Freepik.com</a>
            <a href="http://www.freepik.com/free-psd/computer-mock-up-design_1016603.htm"
                class="btn btn-outline-secondary">(iMac) Ydlabs - Freepik.com</a>
            <span class="btn btn-outline-secondary">
                <a href="https://www.videvo.net/profile/beachfront/">(Videoclip) Beachfront </a> under
                <a href="https://creativecommons.org/licenses/by/3.0/"> CC BY 3.0 (Unported)</a>
            </span>
        </div>
    </div>
</body>

</html>