<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Just Bid Live</title>
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" />

    <link rel="SHORTCUT ICON" href="preview/assets/img/ico.ico" />
    <link rel="ICON" href="preview/assets/img/ico.ico" />

    <link rel="stylesheet" type="text/css" href="preview/css/additional.css">

</head>

<body>
    <div class="bodier">
        <div class="top_wrapper gradiental_background"></div>

        <div class="headimg">
            <a href='/'>
                <img src="preview/assets/img/logo.png" alt="" /> 
            </a>
        </div>


        <div class="headtext">
            Are you looking for great deals and bargains ?
        </div>

         <div class="embedwrap">
            <div class="ui embed" data-source="vimeo" data-id="228315464" data-placeholder="preview/assets/img/embedbuyers.JPG"></div>
        </div>
        
        <div class="ui segment marger">
            <p>
                Just Bid Live is coming soon. 
                A sophisticated revolutionary auction site is coming your way. 
                Place your details in and we will notify you as soon as we open. Don't miss out!
            </p>
            <div class="ui fitted divider mrg"></div>
            <form class="ui form"  id="subForm">
                <div class="field">
                    <label for="fieldName">Name</label>
                    <div class="ui left icon input">
                        <input id="fieldName" placeholder="Name" name="cm-name" type="text" />
                        <i class="user icon"></i>
                    </div>                      
                </div>
                <div class="required field">
                    <label for="fieldEmail">Email</label>
                    <div class="ui left icon input">
                        <input id="fieldEmail" placeholder="Email" name="cm-ztdujj-ztdujj" type="email" />
                        <i class="mail icon"></i>
                    </div>                    
                </div>
                <div class="field">
                
                    <button class="ui green labeled icon button" type="submit">
                    <i class="checkmark icon"></i>
                        Subscribe
                    </button>
                </div>
            </form>

        </div>

    </div>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-104070848-1', 'auto');
    ga('send', 'pageview');
</script>
<script>
    ! function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '801394380022586'); // Insert your pixel ID here.
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=801394380022586&ev=PageView&noscript=1"
    /></noscript>
  <!-- DO NOT MODIFY -->
  <!-- End Facebook Pixel Code -->
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/form.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/embed.min.js"></script>    
    <script type="text/javascript" src="preview/js/buyers.js"></script>
</body>

</html>