/*
  font-family: 'Work Sans', sans-serif;
*/

a {
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

body.stopscroll {
  position: fixed;
  overflow-y: scroll
}

.radiusless {
  border-radius: 0!important;
}

.backgroundless {
  background: transparent!important;
  box-shadow: none!important;
}

.originated {
  background: #0d5699!important;
}

.ui.vertical.menu.profiler {
  width: 100%;
  min-width: 80px;
}

.avatar_holder {
  padding-top: 15px;
  display: flex;
  height: 95px;
  align-items: center;
}

.avatar_holder img {
  height: 100%!important;
  object-fit: cover!important;
  user-select: none;
}

.content {
  width: 100%;
  padding: 10px;
  margin: auto;
}

.top_wrapper {
  position: absolute;
  width: 100%;
  height: 260px;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradiental_background {
  background: -moz-linear-gradient(90deg, #ffffff 0%, #e2f1ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2f1ff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(90deg, #ffffff 0%, #e2f1ff 100%);
  background: -o-linear-gradient(90deg, #ffffff 0%, #e2f1ff 100%);
  background: -ms-linear-gradient(90deg, #ffffff 0%, #e2f1ff 100%);
  background: linear-gradient(0deg, #ffffff 0%, #e2f1ff 100%);
}

nav {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .3);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .3);
  background: #0d5699;
  width: 100%;
  max-width: 1170px;
  height: 60px;
  margin: auto;
  position: relative;
  border-radius: 5px;
}

nav a {
  float: left;
  height: 60px;
  color: #ffffff;
  font-size: 17px;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  display: inline-block;
  background: transparent;
  transition: .5s ease background;
}

nav a.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

nav .selected {
  background: #07406f;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
  background: #07406f;
  text-decoration: none;
}

nav a:visited {
  color: #ffffff;
  text-decoration: none;
}

nav a:focus {
  text-decoration: none;
}

.ui.select.file {
  display: inline-block;
  margin-left: 20px!important;
  border-radius: 5px;
  color: rgba(0, 0, 0, .6)!important;
  font-weight: 600!important;
}

.ui.search .searchbox {
  background: #07406f;
  width: 100%;
  height: 60px;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0 20px;
  padding-right: 40px;
  font-family: 'Work Sans', sans-serif;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ui.icon.input input {
  padding-right: 50px!important;
}

.ui.search .searchbox:hover,
.ui.search .searchbox:focus {
  background: #07406f;
  color: #ffffff;
}

.ui.category.search .results {
  width: 100%;
}

.search .ui.input {
  width: 100%;
}

.ui.category.search>.results .category .result {
  float: none;
  height: auto;
}

nav input~i {
  line-height: 60px!important;
  font-size: 18px!important;
  position: absolute;
  right: 14.5px;
  top: 0;
  color: #f2f2f2;
  transition: all .4s ease;
  transform: rotate(0deg);
  pointer-events: none;
}

.ui.icon.input input::selection {
  background: #f2f2f2;
}

.ui.icon.input input::-moz-selection {
  background: #f2f2f2;
}

nav input:focus~i {}

.ui.search .searchbox::-webkit-input-placeholder {
  color: #e3e3e3!important;
}

.ui.search .searchbox::-moz-placeholder {
  color: #e3e3e3!important;
}

.ui.search .searchbox::-ms-input-placeholder {
  color: #e3e3e3!important;
}

.ui.search .searchbox::-moz-placeholder {
  color: #e3e3e3!important;
}

.above_menu {
  margin: auto;
  width: 100%;
  padding: 25px 0;
  max-width: 1170px;
}

.logo {
  color: #222222;
  font-size: 30px;
  font-weight: 600;
  width: 185px;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

.links {
  user-select: none;
}

.links a {
  height: 45px;
  line-height: 55px;
  padding: 0 10px;
  color: #222;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.links .ui.label {
  background: #d91c5c!important;
  border-color: #e84a7f!important;
}

.links a:hover {
  color: #222;
  text-decoration: none;
}

.links a:visited {
  color: #222;
  text-decoration: none;
}

.links a:focus {
  text-decoration: none;
}

.left {
  text-align: left;
  position: relative;
}

.right {
  text-align: right;
  position: relative;
}

.products {
  width: 100%;
  padding-top: 35px;
  max-width: 1170px;
  margin: auto;
}

.products .pins {
  padding-top: 25px;
}

.blue_button .bigger,
.blue_button .smaller {
  z-index: 3;
  position: relative;
}

.blue_button .bigger {
  font-size: 16px;
}

.blue_button .smaller {
  font-size: 10.5px;
  margin-top: 1px;
}

.product {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  margin: auto;
  background: white;
  min-height: 100px;
  border-radius: 5px;
  position: relative;
  transition: all .4s ease;
  margin-bottom: 35px;
}

.product.loading:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 0.28571429rem;
  z-index: 100;
}

.product.loading:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -1.5em 0em 0em -1.5em;
  width: 3em;
  height: 3em;
  -webkit-animation: segment-spin 0.6s linear;
  animation: segment-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
  visibility: visible;
  z-index: 101;
}

.product-content {
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
  filter: none;
}

.product.loading .product-content {
  filter: blur(2px);
}

.ui.label.hot {
  position: absolute;
  top: 10px!important;
  left: -10px!important;
  cursor: default;
  background: #D90368!important;
  border-color: #b00353!important;
  color: white;
  left: -15px;
  transition: all .4s ease;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
}

.ui.label.new {
  position: absolute;
  top: 10px!important;
  left: -10px!important;
  cursor: default;
  background: #37a000!important;
  border-color: #2d8000!important;
  color: white;
  left: -15px;
  transition: all .4s ease;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
}

.ui.label.pop {
  position: absolute;
  top: 10px!important;
  left: -10px!important;
  cursor: default;
  background: #e6c300!important;
  border-color: #ccad00!important;
  color: white;
  left: -15px;
  transition: all .4s ease;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
}

.product:hover {
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, .25);
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, .25);
}

.product:hover .hot {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .55);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .55);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .55);
}

.product .image:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}

.product .image {
  position: relative;
  transition: opacity 1s ease;
}

.product .image img {
  cursor: pointer;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.product .titile {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #0d5699;
  padding: 5px 15px;
  padding-top: 20px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.product .description {
  padding: 5px 20px;
  text-align: center;
}

.product .name {
  z-index: 20;
  position: relative;
  font-size: 13px;
  width: 100%;
  text-align: center;
  color: #222;
  font-weight: 500;
  letter-spacing: -.5px;
  padding: 10px 0px;
}

.product .price {
  font-weight: 500;
  color: #d12998;
  padding-left: 15px;
  float: left;
}

.product .ui.progress {
  margin: 0em 0em 0em;
  background: white;
  border-radius: 0px;
}

.product .ui.progress .bar {
  border-radius: 0px;
  min-width: 0px;
}

.product .price span {
  color: #b3b3b3;
}

.product .price i {
  margin-right: 3px;
  font-size: 13px;
}

.product .numbers {
  height: 30px;
}

.product .off {
  font-weight: 500;
  padding-right: 15px;
  color: #038900;
  float: right;
}

button span {
  position: relative;
  z-index: 3;
}

.ui.blue_button {
  width: 100%;
  overflow: hidden;
  position: relative;
  max-width: 165px;
  background: #d12998;
  border-radius: 30px;
  display: block;
  color: white;
  margin: 0 auto;
  margin-bottom: 3px;
  transition: all .4s ease;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ui.blue_button:before {
  content: "";
  width: 0;
  height: 120%;
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  background: #0d5699;
}

.ui.blue_button:hover:before {
  width: 120%;
}

.ui.blue_button:hover {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .3);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .3);
  background: #d12998;
  color: white;
}

.ui.blue_button:focus {
  background: #d12998;
  color: white;
}

.going {
  width: 100%;
  color: #0d5699;
  font-weight: 600;
  padding: 10px 0;
  padding-bottom: 15px;
  text-align: center;
}

.going img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  display: inline-block;
}

.going .timer {
  text-align: center;
  position: relative;
}

.going .timer i {
  position: relative;
  font-size: 18px;
  top: 2px;
  margin-right: 5px;
}

.going .timer span {
  line-height: 18px;
}

.box_wrapper {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
}

.header {
  font-size: 30px;
  width: 100%;
  text-align: left;
}

.list_item {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0;
}

.list {
  padding-left: 10px;
}

.list_item .icon {
  font-size: 11.5px;
  height: 100%;
  display: inline-block;
  top: -2px;
  position: relative;
}

.list_item .text {
  margin-left: 5px;
  color: #0d5699;
  cursor: pointer;
}

.categories {
  padding-right: 45px;
}

.divider.blue {
  width: calc(100% + 20px);
  margin-left: -10px;
  background: #0d5699;
  height: 3px;
  margin-top: 200px;
  margin-bottom: 20px;
}

.small_righted {
  display: none;
}

footer {
  margin: auto!important;
  max-width: 1170px;
  padding: 15px 30px;
}

footer .header {
  font-size: 18px;
  font-weight: 600;
}

footer .list_wrapper {
  margin-bottom: 65px;
}

nav .row {
  margin: auto!important;
}

nav .row .col-1,
nav .row .col-2,
nav .row .col-3,
nav .row .col-4,
nav .row .col-5,
nav .row .col-6,
nav .row .col-7,
nav .row .col-8,
nav .row .col-9,
nav .row .col-10,
nav .row .col-11,
nav .row .col-12,
nav .row .col,
nav .row .col-sm-1,
nav .row .col-sm-2,
nav .row .col-sm-3,
nav .row .col-sm-4,
nav .row .col-sm-5,
nav .row .col-sm-6,
nav .row .col-sm-7,
nav .row .col-sm-8,
nav .row .col-sm-9,
nav .row .col-sm-10,
nav .row .col-sm-11,
nav .row .col-sm-12,
nav .row .col-sm,
nav .row .col-md-1,
nav .row .col-md-2,
nav .row .col-md-3,
nav .row .col-md-4,
nav .row .col-md-5,
nav .row .col-md-6,
nav .row .col-md-7,
nav .row .col-md-8,
nav .row .col-md-9,
nav .row .col-md-10,
nav .row .col-md-11,
nav .row .col-md-12,
nav .row .col-md,
nav .row .col-lg-1,
nav .row .col-lg-2,
nav .row .col-lg-3,
nav .row .col-lg-4,
nav .row .col-lg-5,
nav .row .col-lg-6,
nav .row .col-lg-7,
nav .row .col-lg-8,
nav .row .col-lg-9,
nav .row .col-lg-10,
nav .row .col-lg-11,
nav .row .col-lg-12,
nav .row .col-lg,
nav .row .col-xl-1,
nav .row .col-xl-2,
nav .row .col-xl-3,
nav .row .col-xl-4,
nav .row .col-xl-5,
nav .row .col-xl-6,
nav .row .col-xl-7,
nav .row .col-xl-8,
nav .row .col-xl-9,
nav .row .col-xl-10,
nav .row .col-xl-11,
nav .row .col-xl-12,
nav .row .col-xl {
  padding: 0;
}

nav .mobile_nav {
  top: 57px;
  width: 100%;
  z-index: 50;
  position: absolute;
  background: #0d5699;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .25);
  overflow: hidden;
  transition: .7s ease all;
  height: 0;
}

nav .mobile_nav.opened {
  height: 180px;
}

#mobile_button {
  transition: all .7s ease;
  transform: rotate(0deg);
}

#mobile_button.rotated {
  transform: rotate(180deg);
}

nav .mobile_nav a {
  width: 100%;
}

.list_wrapper {
  width: 100%;
  max-width: 230px;
  margin: auto;
}

.fa.biger {
  font-size: 16px;
}

.mobile_menu {
  display: none;
  text-align: right;
  padding-right: 20px;
  height: 60px;
}

.mobile_menu i {
  line-height: 60px;
  color: white;
  font-size: 20px;
}

.relative {
  width: 100%;
  position: relative;
  display: inline-block;
  max-width: 400px;
}

.ui.icon.input .loading-wrapper {
  position: absolute;
  top: 0;
  right: 14.5px;
  height: 60px;
  width: 20px;
  line-height: 60px;
  display: none;
}

.loading-icon {
  position: absolute;
  line-height: 60px!important;
  top: 21px;
  left: 0px;
  width: 18px;
  height: 18px;
  -webkit-animation: button-spin .6s linear;
  animation: button-spin .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #ffffff transparent transparent;
  border-style: solid;
  border-width: .2em;
  box-shadow: 0 0 0 1px transparent;
}

.loading .loading-wrapper {
  display: block!important;
}

.loading .active-wrapper {
  display: none!important;
}

.single {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  max-width: 768px;
}

.ui.form textarea {
  resize: none;
}

.ui.form .field>label {
  font-weight: 600;
  color: #07406f;
}

.ui.form .fileds-margin {
  margin-bottom: 30px;
}

.ui.dividing.header {
  margin-bottom: 35px;
}

.ui.form .field .prompt.label {
  font-weight: 600;
}

.ui.form.former {
  background: white;
  padding: 55px 35px;
  padding-bottom: 25px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .2);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .2);
}

.submit_holder {
  width: 100%;
  margin: auto;
  text-align: center;
}

.ui.submit.button {
  color: white!important;
  background: #0d5699;
  transition: .5s ease all;
}

.ui.submit.button:hover {
  background: #1069bc;
}

.ui.submit.button:active {
  background: #07406f;
}

.ui.submit.reverse.button {
  box-sizing: border-box;
  color: #f2f2f2!important;
  background: #b3b3b3;
  transition: .5s ease all;
}

.ui.submit.reverse.button:hover {
  background: #b3b3b3;
}

.ui.submit.reverse.button:active {
  background: #b3b3b3;
}

.ui.button.original {
  color: rgba(0, 0, 0, 0.6)!important;
}

.ui.dividing.header {
  color: #0d5699;
}

.ui.dividing.header i {
  position: relative;
  font-size: 25px;
  margin-right: 5px;
  top: 0px;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  opacity: 0.2;
}

.dropdown-menu {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .2);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .2);
}

.ui.icon.input>input:focus~i.icon {
  opacity: 1;
  z-index: 0;
}

.ui.icon.input>input {}

.ui[class*="left icon"].input>i.icon {
  font-size: 19px;
  top: 1px;
  background: #f2f2f2;
  width: 35px;
  height: calc(100% - 2px);
}

.datepicker-dropdown {
  top: 0;
  left: 0;
  padding: 15px!important;
}

.icon.cartexact {
  color: #f2f2f2;
  background: #0d5699;
  border-color: #07406f;
}

.above_menu .links a {
  color: #07406f;
  transition: .4s ease all;
}

.above_menu .links a:hover {
  color: #0d5699;
}

#signInModal {}

#waiterModal img {
  display: block;
  margin: auto;
}

#waiterModal .holder {
  text-align: center;
  margin-top: 25px;
}

.ui.form.error .ui.custom.message,
.ui.form.success .ui.custom.message {
  display: none;
}

.ui.form.overall.error .error.message {
  display: none;
  min-height: 70px;
}

.overall.error .ui.custom.error,
.overall.success .ui.custom.success {
  display: block!important;
}

.ui.custom.success {
  z-index: 11;
}

.modal .body .ui.header.wrap {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  font-style: italic;
  color: #b3b3b3;
  font-weight: 100;
}

.ui.horizontal.divider.gray {
  color: #b3b3b3;
}

.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(21, 21, 21, .75);
  opacity: 0;
  pointer-events: none;
  transition: .5s ease all;
  z-index: 125;
}

.my-modal.opened {
  opacity: 1;
  pointer-events: all;
}

.my-modal.mini .body {
  max-width: 250px;
}

.my-modal .body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-100%, -50%, 0);
  width: 100%;
  max-width: 400px;
  min-height: 150px;
  background: #fff;
  transition: ease all .5s;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
}

.my-modal.opened .body {
  transform: translate3d(-50%, -50%, 0);
}

.my-modal .body .header.main {
  text-align: center;
  color: #07406f;
  margin-bottom: -10px;
}

.my-modal .body .header.main.wrap {
  text-align: center;
  color: #b3b3b3;
  font-style: italic;
  margin-top: -10px;
  margin-bottom: 20px;
  font-weight: 200;
}

.column.social {
  text-align: center;
  margin: 10px auto;
}

.column.social button {
  width: 100%;
  max-width: 140px;
  text-align: center;
  margin: auto 5px;
}

.ui.form.signin {
  padding: 10px;
}

.ui.form .not {
  color: #b3b3b3;
  text-decoration: none;
  font-style: italic;
}

.ui.form.signin input {
  margin-bottom: 10px;
}

.ui.form .buttons.container {
  text-align: center;
  margin: auto;
  margin-top: 25px;
}

.ui.form .buttons.container button,
.ui.form .buttons.container a {
  margin: auto 17px;
}

#mainCart {
  font-size: 30px;
  position: relative;
}

.loader {
  border-top: 5px solid #0d5699;
  /* Blue */
  box-shadow: inset 0 0 0 1px #07406f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin .8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-width: 5px;
  }
  25% {
    border-width: 5.5px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 6px;
  }
  75% {
    border-width: 5.5px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 5px;
  }
}

#shoppingOverall {
  margin-left: 5px;
}

.center {
  text-align: center!important;
}

.flexcenter {
  justify-content: center;
}

.custom.error {
  box-shadow: 0px 0px 0px 1px #E0B4B4 inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
  background-color: #FFF6F6;
  color: #9F3A38;
  font-size: 1em;
  position: relative;
  min-height: 1em;
  margin: 1em 0em;
  background: #F8F8F9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  border-radius: 0.28571429rem;
  box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.22) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.empty {
  margin: auto;
  display: flex;
  align-items: center;
  opacity: .6;
}

.empty span {
  color: #0d5699;
  margin-left: 50px;
}

.ui.header .content.inverted {
  color: #d9d9d9;
}

.ui.segment.tab {
  margin: 0 auto;
  padding: 0;
}

.table.heads th {
  border-top: none;
}

.borderless {
  border: none!important;
}

.borderless td {
  border: none!important;
  box-shadow: none!important;
}

.ui.table:not(.unstackable) tr {
  box-shadow: none!important;
}

.borderless .last td {
  border: none!important;
  border-bottom: none!important;
}

.ui.table .collapsing.image {
  margin: auto;
  width: 200px!important;
  height: 200px!important;
  padding: 20px!important;
  cursor: pointer;
}

.collapsing.image img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px 0px rgba(21, 21, 21, 0.5);
}

.segment.none {
  border: none!important;
  box-shadow: none!important;
  background: transparent!important;
}

.ui.shape {
  width: 100%!important;
}

.ui.segment table {
  margin-top: 35px;
}

.ui.tab.loading {
  display: none;
}

.ui.tab.loading.active {
  display: block;
}

.ui.image.header {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  color: #0d5699;
}

.ui.image.header img {
  position: relative;
  top: -5px;
  margin-right: 15px;
}

.ui.form.former.small {
  max-width: 400px;
  widows: 100%;
  margin: auto;
  padding: 35px;
}

.ui.form.former .finished {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 5;
}

.ui.form.former .finished .check.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 30px;
  color: #a3c293;
}