/*sm*/
@media (min-width: 0px) and (max-width: 575px) {
  #shoppingCart .quantity i{
    display: none;
  } 

  #shoppingCart .divider{
    display: block;
  }

  #shoppingCart .cart_item .total{
    padding-top: 15px;
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 0;
  }
  
  #shoppingCart .cart_item{
    display: block;
  }
  
  #shoppingCart .cart_item .image{
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
  }

  #shoppingCart .cart_item .data{
     min-width: calc(100% - 100px);
     width: calc(100% - 100px);
  }

  #shoppingCart .cart_item .quantity{
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    float: left;
  }

  #shoppingCart .cart_item .price{
    padding-left: 20px;
    height: 100px;
    align-items: baseline;
    display: table-cell;
    vertical-align: middle;
  }


  .exactly.path{
    text-align: center;
    padding-left: 15px;
  }

  .exactly.statistic .fitted{
    margin-top: 0!important;
  }

  .ui.statistics>.statistic{
    width: 100%;
    margin: 25px 0;
  }

  .ui.input{
    width: 100%;
  }

  .option .ui.fluid.dropdown{
    width: 100%;
  }

  .option .ui.input input{
    width: 100%;
  }

  .exactly.seller{
    float: none;
  }

  .stock.header.special{
    display: none;
  }

  .segment.list_categories{
    width: 100%;
  }


  .segment.list_categories.opened{
    padding: 25px;
    width: 100%;
    left: 0;
  }


  .special_purposes{
    display: none;
  }

  .left{
    text-align: center;
  }

  .right{
    text-align: center;
  }

  .links a{
    margin: 0 20px;
  }

  .products .pins{
    padding: 0;
    padding-top: 25px;
    width: 100%;
    margin: auto;
  }

  .product{
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
  }

  .product:hover{
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
  }

  nav .col-sm-0 a{
    display: none;
  }

  .small_lefted{
    text-align: left;
  }

  .small_righted{
    display: block;
    text-align: right;
  }

  .mobile_menu{
    display: block;
  }


  .ui.search .searchbox{
    position: relative;
    top: -1px;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  nav .row{
    margin-right: -5px;
   margin-left: -15px;
  }
}

/*sm*/
@media (min-width: 576px) and (max-width: 767px) {
  #shoppingCart .quantity i{
    display: none;
  }


  #shoppingCart .divider{
    display: block;
  }

  #shoppingCart .cart_item .total{
    width: 100%;
    display: block;
    text-align: left;
    padding-top: 15px;
    margin-bottom: 0;
  }
  
  #shoppingCart .cart_item{
    display: block;
  }
  
  #shoppingCart .cart_item .image{
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
  }

  #shoppingCart .cart_item .data{
     min-width: calc(100% - 100px);
     width: calc(100% - 100px);
  }

  #shoppingCart .cart_item .quantity{
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    float: left;
  }

  #shoppingCart .cart_item .price{
    padding-left: 20px;
    height: 100px;
    align-items: baseline;
    display: table-cell;
    vertical-align: middle;
  }



  .exactly.path{
    text-align: center;
    padding-left: 15px;
  }

  .exactly.statistic .fitted{
    margin-top: 0!important;
  }

  .ui.statistics>.statistic{
    width: 100%;
    margin: 25px 0;
  }

  .ui.input{
    width: 100%;
  }

  .option .ui.fluid.dropdown{
    width: 100%;
  }

  .option .ui.input input{
    width: 100%;
  }

  .exactly.seller{
    float: none;
  }

  .exactly.seller{
    float: none!important;
  }

  .stock.header.special{
    display: none;
  }


  .segment.list_categories{
    width: 100%;
  }


  .segment.list_categories.opened{
    padding: 25px;
    width: 100%;
    left: 0;
  }


  .special_purposes{
    display: none;
  }

  .left{
    text-align: center;
  }

  .right{
    text-align: center;
  }

  .links a{
    margin: 0 20px;
  }

  .products .pins{
    padding: 0;
    padding-top: 25px;
    width: 100%;
    margin: auto;
  }

  .product{
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
  }

  .product:hover{
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
  }

  nav .col-sm-0 a{
    display: none;
  }

  .small_lefted{
    text-align: left;
  }

  .small_righted{
    display: block;
    text-align: right;
  }

  .mobile_menu{
    display: block;
  }

  .ui.search .searchbox{
    position: relative;
    top: -1px;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  nav .row{
    margin-right: -5px;
   margin-left: -15px;
  }

}

/*md*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-0.col-lg-3 .product{
    display: none;
  }

}

/*lg*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*xl*/
@media (min-width: 1200px) {

 }
