<div id="shoppingCart" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
  </div>
  <div class="ui segment content">
    <div class="empty">
      <img src="<%=domain%>/u.assets/img/icons/open-box.png" alt="">
      <span>Your cart is empty </span>

    </div>
  </div>
  <div class="actions">


    <div class="ui right labeled button" tabindex="0">
      
      <div class="ui submit disabled button">
        Checkout 
      </div>
      <a class="ui basic label">
        <i class="fa fa-usd" aria-hidden="true"></i>
        <span id="shoppingOverall"> 0 </span>
      </a>


    </div>


  </div>
</div>