.tabs.body h3{
    padding-left: 20px;
    color : #07406f;
}

.tabs.body h3 i{
    position: relative;
    top: -2px;
    padding-right: 25px;
}

.ui.table.orders .information{
    padding: 20px;
    padding-left: 30px;
    vertical-align: middle;
}

.ui.table.orders .information .title{
    font-size : 18px;
    color : #0d5699;
    font-weight: 500;
}


.ui.table.orders .information .types{
    margin-top: 1px;
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 5px;
    line-height: 20px;
}

.ui.table.orders .information .prefix{
    margin-top: 1px;
    color: #07406f; 
    font-style: italic;
    margin-right: 5px;
}

.ui.table.orders .information .cost{
    margin-top: 35px;    
}

.ui.table.orders .information .cost .option .labeler, .ui.table.orders .information .cost .option .info{
    display: inline-block;
    line-height: 20px;  
    font-size: 14px;
    opacity: 0.8;
    margin: 2px auto;
}

.ui.table.orders .information .cost .option .labeler{
    color: #0d5699;
}

.ui.table.orders .information .cost .option .info{  
    color: #d12998;   
}

.ui.table.orders .information .seller{
    margin-top: 30px;
}

.ui.table.orders .information .seller a{
    text-decoration: underline!important;
    color: #808080!important;
    left: 5px;
    position: relative;
}


.ui.table.orders .current{
    padding: 20px;
    vertical-align: middle;
}

.ui.table.orders .current .title{
    font-size : 18px;
    color : #0d5699;
    font-weight: 500;
    opacity: .5;
}

.ui.table.orders .current .option{
    margin: 2px auto;
}

.ui.table.orders .current .option.first{
    margin-top: 40px;
}


.ui.table.orders .current .option .labeler{
    position: relative;
    color: #b3b3b3;  
    font-size: 14px;
    margin-right: 5px;
    line-height: 20px;
}

.ui.table.orders .current .option .info{
    color : #0d5699;
    font-weight: 500;
    opacity: .85;
}

.ui.table.orders .current .types{
    margin-top: 1px;
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 5px;
    line-height: 20px;
}

tbody tr:last-child{
    border : none!important;
}
