<div class="divider blue"></div>
<footer class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 categories" >
    <div class="list_wrapper">
      <div class="header">Information</div>
      <div class="ui divider"></div>
      <div class="list">
        <div class="list_item">
          <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          <span class="text">Copyright Policy</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 categories" >
    <div class="list_wrapper">
      <div class="header">Categories</div>
      <div class="ui divider"></div>
        <div class="list">
          <div class="list_item">
            <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <a class="text" href="/">Auctions</a>
          </div>
          <div class="list_item">
            <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <a class="text">Before You Bid</a>
          </div>
          <div class="list_item">
            <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <a class="text">Store</a>
          </div>
          <div class="list_item">
            <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <a class="text">Terms and Conditions</a>
          </div>
          <div class="list_item">
            <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <a class="text">Privacy Policy</a>
          </div>        
        </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 categories" >
    <div class="list_wrapper">
      <div class="header">Customer Support</div>
      <div class="ui divider"></div>
      <div class="list">
        <div class="list_item">
          <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          <a class="text" href="/faq">View FAQs</a>
        </div>
        <div class="list_item">
          <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          <span class="text" href="">Buyer Protection</span>
        </div>       
        <div class="list_item">
          <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          <span class="text">Buyer Terms of Use</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 categories" >
    <div class="list_wrapper">
      <div class="header">Contact Us</div>
      <div class="ui divider"></div>
      <div class="list">        
        <div class="list_item">
          <span class="icon"><i class="fa fa-envelope biger" aria-hidden="true"></i></span>
          <a class="text">info@justbidlive.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>

