<div class="divider blue"></div>
<footer class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 categories" >
    <div class="list_wrapper">
      <div class="header">Information</div>
      <div class="ui divider"></div>
      <div class="list">
        <div class="list_item">
          <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          <a class="text" href="/seller/signin">For Sellers</a>
        </div>
        <div class="list_item">
          <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          <a class="text" href="/info/copyright">Copyright Policy</a>
        </div>
        <br>
        <br>
        <div class="list_item">
          <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          <span>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></span>
        </div>
        <div class="list_item">
          <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          <span>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 categories" >
    <div class="list_wrapper">
      <div class="header">Categories</div>
      <div class="ui divider"></div>
        <div class="list">
          <div class="list_item">
            <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <a class="text" href="/">Auctions</a>
          </div>
          <div class="list_item">
            <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <a class="text" href="/info/beforebid">Before You Bid</a>
          </div>       
          <div class="list_item">
            <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <a class="text" href="/info/terms">Terms and Conditions</a>
          </div>
          <div class="list_item">
            <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <a class="text" href="/info/privacy">Privacy Policy</a>
          </div>        
        </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 categories" >
    <div class="list_wrapper">
      <div class="header">Customer Support</div>
      <div class="ui divider"></div>
      <div class="list">
        <div class="list_item">
          <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          <a class="text" href="/faq">View FAQs</a>
        </div>
        <div class="list_item">
          <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          <a class="text" href="/info/protection/buyers">Buyer Protection</a>
        </div>       
        <div class="list_item">
          <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
          <span class="text">Buyer Terms of Use</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-3 categories" >
    <div class="list_wrapper">
      <div class="header">Contact Us</div>
      <div class="ui divider"></div>
      <div class="list">        
        <div class="list_item">
          <span class="icon"><i class="fa fa-envelope biger" aria-hidden="true"></i></span>
          <a class="text">info@justbidlive.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>

