
  <meta charset="utf-8">
  
  <title><%=pageName%></title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900" rel="stylesheet">


  <link rel="stylesheet" href="../GeneralAssets/css/bootstrap.css">
  <link rel="stylesheet" href="../GeneralAssets/semantic/semantic.css">

  <link rel="stylesheet" href="../GeneralAssets/css/components.css">
  <link rel="stylesheet" href="../GeneralAssets/css/shop.css">
  <link rel="stylesheet" href="../UserAssets/css/cart.css">

 
  <link rel="SHORTCUT ICON" href="../GeneralAssets/img/ico.ico" />
  <link rel="ICON" href="../GeneralAssets/img/ico.ico" />

