<div class="top_wrapper gradiental_background"></div>
<div class="above_menu row">
  <div class="col-md-6 left">
    <a href="/">
      <img class="logo" src='../GeneralAssets/img/logo.png' />
    </a>
  </div>
  <div class="col-md-6 right links">

    <a id="account" style="<%if(user){%> display:none; <%}%>">My Account</a>
    <a id="user" href="/my" style="<%if(!user){%> display:none; <%}%>"> Hello, <%if(user){%> <%=user.PublicData.firstName%> <%}%> </a>
       
       
    <a href="#" class="ui large">
        <i class="alarm icon"></i>
        <span></span>
    </a>
    <a href="#" class="ui large">
        <i class="mail icon"></i>        
    </a>
    


    <%if(user){
       if(!user.isSeller()){
      %> 
      <a class="ui large" id="mainCart">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
          <div class="floating ui circular teal label hidden">0</div>
      </a>
    
    <%}
    }else{%>
      <a class="ui large" id="mainCart">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
          <div class="floating ui circular teal label hidden">0</div>
      </a>
    <%}%>

  </div>
</div>
<nav>
  <div class="row">
    <div class="col-sm-0 col-md-6 col-lg-6 left">
      <a class="first <%if(page=="Live"){%>selected<%}%>" href="/">Live</a>
      <a class="<%if(page=="Stock"){%>selected<%}%>" href="/stock">Stock</a>
      <a class="<%if(page=="Contact"){%>selected<%}%>" href="/contact">Contact Us</a>
    </div>
    <div class="col-9 col-sm-6 col-md-6 col-lg-6 right small_lefted">
      <div class="relative">
        <div class="ui category search">
          <div class="ui icon input">
            <input class="prompt searchbox" type="text" placeholder="Search Store...">
            <i class="fa fa-search active-wrapper" aria-hidden="true"></i>
            <i class="loading-wrapper">
              <i class="loading-icon" aria-hidden="true"></i>
            </i>
          </div>
          <div class="results">
            <div class="name">Passwords</div>
            <a class="result">
              <div class="content">
                <div class="title">123456</div>
              </div>
            </a>
            <a class="result">
              <div class="content">
                <div class="title">12345678</div>
              </div>
            </a>
            <a class="result">
              <div class="content">
                <div class="title">1234</div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-3 col-sm-6 col-md-0 col-lg-0 small_righted">
      <div class="mobile_menu">
        <i id="mobile_button" class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="mobile_nav">
    <a class="first <%if(page==" Live "){%>selected<%}%>" href="/">Live</a>
    <a class="<%if(page==" Stock "){%>selected<%}%>" href="/stock">Stock</a>
    <a class="<%if(page==" Contact "){%>selected<%}%>" href="/contact">Contact Us</a>
  </div>
</nav>