<div class="top_wrapper gradiental_background"></div>
<div class="above_menu row">
  <div class="col-md-6 left">
    <a href="/live">
      <img class="logo" src='<%=resources%>/g.assets/img/tinylogo.png' />
    </a>
  </div>
  <div class="col-md-6 right links">

    <a id="account" style="<%if(user){%> display:none; <%}%>">Sign in</a>
    <a id="user" href="/my" style="<%if(!user){%> display:none; <%}%>"> Hello, <%if(user){%> <%=user.PublicData.firstName%> <%}%> </a>


    <button id="btn_notification" class="ui large">
        <i class="fa fa-bell" aria-hidden="true"></i>
        <span id="count_notificator"></span>

        <div class="custom dropdown">     
          <div class="wrapper"> 
            <div id="cnt_notification" class="ui segment none content"> 
                  <div class="no_notification">
                      <i class="alarm mute icon"></i>
                      <span>There are no new notifications.</span>
                  </div>

                  <div class="no_login" style="display:none;">
                      <i class="user icon"></i>
                      <span>You are not signed in.</span>
                  </div>
            </div>      
            <div class="footer"> 
               <span id="rvw_notification" class="notification_link">Review all</a>
            </div> 
          </div>     
        </div>
    </button>

     <!--
      <a class="ui large">
          <i class="mail icon"></i>        
      </a>
    !-->
    
    <button id="btn_signout" class="ui large" data-content="Sign out">
      <i class="fa fa-power-off" aria-hidden="true"></i>
    </button>

    <!--
        <%if(user){
          if(!user.isSeller()){
          %> 
          <a class="ui large" id="mainCart">
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              <div class="floating ui circular teal label hidden">0</div>
          </a>
        
        <%}
        }else{%>
          <a class="ui large" id="mainCart">
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              <div class="floating ui circular teal label hidden">0</div>
          </a>
        <%}%>
    !-->
  </div>
</div>
<nav>
  <div class="row">
    <div class="col-sm-0 col-md-6 col-lg-6 left">
      <a class="first <%if(page=="Live"){%>selected<%}%>" href="/live">Live</a>
      <!--<a class="<%if(page=="Stock"){%>selected<%}%>" href="/stock">Store</a>!-->
      <a class="<%if(page=="Contact"){%>selected<%}%>" href="/contact">Contact Us</a>
    </div>
    <div class="col-9 col-sm-6 col-md-6 col-lg-6 right small_lefted">
      <div class="relative">
        <div class="ui category search">
          <div class="ui icon input">
            <input class="prompt searchbox" type="text" placeholder="Search Store...">
            <i class="fa fa-search active-wrapper" aria-hidden="true"></i>
            <i class="loading-wrapper">
              <i class="loading-icon" aria-hidden="true"></i>
            </i>
          </div>
          <div class="results">          
          </div>
        </div>
      </div>

    </div>
    <div class="col-3 col-sm-6 col-md-0 col-lg-0 small_righted">
      <div class="mobile_menu">
        <i id="mobile_button" class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="mobile_nav">
    <a class="first <%if(page==" Live "){%>selected<%}%>" href="/">Live</a>
    <a class="<%if(page==" Stock "){%>selected<%}%>" href="/stock">Stock</a>
    <a class="<%if(page==" Contact "){%>selected<%}%>" href="/contact">Contact Us</a>
  </div>
</nav>