<div class="top_wrapper gradiental_background"></div>
<div class="above_menu row">
  <div class="col-md-12 center">
    <a href="/">
      <img class="logo" src='../GeneralAssets/img/logo.png' />
    </a>
  </div>
  
</div>
