
<!DOCTYPE html>
<html>

  <!--Head include!-->
  <%-include('./Common/head')%>
  <link rel="stylesheet" href="../GeneralAssets/css/responsive.css">

  <body>

    <div class="content">
      <!--Menu include!-->
      <%-include('./Common/menu', { page : pageName })%>

      <div class="row products">

        <div class="col-md-4 col-lg-3" >
            <div class="stock header">
               Categories
            </div>
            <div class="ui segment categories stock">
              <div class="list stock_list">
                <div class="list_item top_level" data-popup="women_clothing">
                  <span class="icon"><img src="../UserAssets/img/LinearIcons/dress.png" alt=""></span>
                  <span class="text">Women's Clothing</span>
                </div>
                <div class="list_item top_level" data-popup="men_clothing">
                  <span class="icon"><img src="../UserAssets/img/LinearIcons/polo.png" alt=""></span>
                  <span class="text">Men's Clothing</span>
                </div>
                <div class="list_item top_level" data-popup="watches">
                  <span class="icon"><img src="../UserAssets/img/LinearIcons/watch.png" alt=""></span>
                  <span class="text">Jewelry & Watches</span>
                </div>
                <div class="list_item top_level" data-popup="bags">
                  <span class="icon"><img src="../UserAssets/img/LinearIcons/hand-bag.png" alt=""></span>
                  <span class="text">Bags & Shoes</span>
                </div>
                <div class="list_item top_level" data-popup="health">
                  <span class="icon"><img src="../UserAssets/img/LinearIcons/purse.png" alt=""></span>
                  <span class="text">Health & Beauty, Hair</span>
                </div>
              </div>
            </div>
        </div>

        <div class="col-md-8 col-lg-9 row pins">
          <div class="col-md-6 col-lg-4">
            <div class="product">

              <div class="image">  <img src="https://img1.etsystatic.com/107/1/5609612/il_340x270.992188973_g9u7.jpg" alt=""> </div>
              <div class="ui label hot">HOT</div>

              <div class="titile">
                  iPhone 5, iPhone 5S, iPhone 6, iPhone 6S
              </div>
              <div class="name">
                  Adam is Winning
              </div>
              <div class="numbers">
                <span class="price"><span>RRP:</span> <i class="fa fa-usd" aria-hidden="true"></i>100</span>
                <span class="off">90% Off</span>
              </div>

              <button class="ui button blue_button">
                <div class="bigger">BID $20</div>
                <div class="smaller">+$5 Shipping</div>
               </button>


              <div class="going">
                  Going once
                  <img src="../UserAssets/img/justice.png">
               </div>


            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="product">
              <div class="image">  <img src="https://img1.etsystatic.com/107/1/5609612/il_340x270.992188973_g9u7.jpg" alt=""> </div>
              <div class="titile">
                  iPhone 5, iPhone 5S, iPhone 6, iPhone 6S
              </div>
              <div class="name">
                  Adam is Winning
              </div>
              <div class="numbers">
                <span class="price"><span>RRP:</span> <i class="fa fa-usd" aria-hidden="true"></i>100</span>
                <span class="off">90% Off</span>
              </div>

              <button class="ui button blue_button">
                <div class="bigger">BID $30</div>
                <div class="smaller">+$18 Shipping</div>
               </button>

              <div class="going">
                  <div class="timer">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span> 0:02</span>
                  </div>
               </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4">
            <div class="product">
              <div class="image">  <img src="https://img1.etsystatic.com/107/1/5609612/il_340x270.992188973_g9u7.jpg" alt=""> </div>
              <div class="titile">
                  iPhone 5, iPhone 5S, iPhone 6, iPhone 6S
              </div>
              <div class="name">
                  Adam is Winning
              </div>
              <div class="numbers">
                <span class="price">
                  <span>RRP:</span>
                  <i class="fa fa-usd" aria-hidden="true"></i>100
                </span>
                <span class="off">90% Off</span>
              </div>

              <button class="ui button blue_button">
                <div class="bigger">BID $20</div>
                <div class="smaller">+$5 Shipping</div>
               </button>


              <div class="going">
                  Going once
                  <img src="../UserAssets/img/justice.png">
               </div>


            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="product">
              <div class="image">  <img src="https://img1.etsystatic.com/107/1/5609612/il_340x270.992188973_g9u7.jpg" alt=""> </div>
              <div class="titile">
                  iPhone 5, iPhone 5S, iPhone 6, iPhone 6S
              </div>
              <div class="name">
                  Adam is Winning
              </div>
              <div class="numbers">
                <span class="price"><span>RRP:</span> <i class="fa fa-usd" aria-hidden="true"></i>100</span>
                <span class="off">90% Off</span>
              </div>

              <button class="ui button blue_button">
                <div class="bigger">BID $30</div>
                <div class="smaller">+$18 Shipping</div>
               </button>

              <div class="going">
                  <div class="timer">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span> 0:02</span>
                  </div>
               </div>
            </div>

          </div>
        </div>

      </div>

        <%-include('./Common/footer')%>
    </div>
  </body>

  <!--Head include!-->
  <%-include('./Common/scripts')%>
</html>
