
<!DOCTYPE html>
<html>

  <!--Head include!-->
  <%-include('./Common/head')%>
  <body>

    <div class="content">
      <!--Menu include!-->
      <%-include('./Common/menu', { page : pageName })%>

      <div class="row products">

        <div class="col-md-4 col-lg-3 categories" >
            <div class="header">Categories</div>
            <div class="ui divider"></div>
            <div class="list">
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Home page hot</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Women's Clothing</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Men's Clothing</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Jewelry & Watches</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Bags & Shoes</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Health & Beauty, Hair</span>
              </div>
            </div>
        </div>

        <div class="col-md-8 col-lg-9 row pins">
          <div class="col-md-6 col-lg-4">
            <div class="product">
              <div class="ui label hot">HOT</div>

              <img src="https://www.apple.com/support/products/images/iphone-hero.jpg" alt="">
              <div class="titile">
                  iPhone 5, iPhone 5S, iPhone 6, iPhone 6S
              </div>
              <div class="name">
                  Adam is Winning
              </div>
              <div class="numbers">
                <span class="price"><i class="fa fa-usd" aria-hidden="true"></i>100</span>
                <span class="off">90% Off</span>
              </div>

              <button class="ui button blue_button">
                <div class="bigger">BID $20</div>
                <div class="smaller">+$5 Shipping</div>
               </button>


              <div class="going">
                  Going once
                  <img src="../UserAssets/img/justice.png">
               </div>


            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="product">
              <img src="https://www.apple.com/support/products/images/iphone-hero.jpg" alt="">
              <div class="titile">
                  iPhone 5, iPhone 5S, iPhone 6, iPhone 6S
              </div>
              <div class="name">
                  Adam is Winning
              </div>
              <div class="numbers">
                <span class="price"><i class="fa fa-usd" aria-hidden="true"></i>100</span>
                <span class="off">90% Off</span>
              </div>

              <button class="ui button blue_button">
                <div class="bigger">BID $30</div>
                <div class="smaller">+$18 Shipping</div>
               </button>

              <div class="going">
                  <div class="timer">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span> 0:02</span>
                  </div>
               </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4">
            <div class="product">
              <img src="https://www.apple.com/support/products/images/iphone-hero.jpg" alt="">
              <div class="titile">
                  iPhone 5, iPhone 5S, iPhone 6, iPhone 6S
              </div>
              <div class="name">
                  Adam is Winning
              </div>
              <div class="numbers">
                <span class="price"><i class="fa fa-usd" aria-hidden="true"></i>100</span>
                <span class="off">90% Off</span>
              </div>

              <button class="ui button blue_button">
                <div class="bigger">BID $20</div>
                <div class="smaller">+$5 Shipping</div>
               </button>


              <div class="going">
                  Going once
                  <img src="../UserAssets/img/justice.png">
               </div>


            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="product">
              <img src="https://www.apple.com/support/products/images/iphone-hero.jpg" alt="">
              <div class="titile">
                  iPhone 5, iPhone 5S, iPhone 6, iPhone 6S
              </div>
              <div class="name">
                  Adam is Winning
              </div>
              <div class="numbers">
                <span class="price"><i class="fa fa-usd" aria-hidden="true"></i>100</span>
                <span class="off">90% Off</span>
              </div>

              <button class="ui button blue_button">
                <div class="bigger">BID $30</div>
                <div class="smaller">+$18 Shipping</div>
               </button>

              <div class="going">
                  <div class="timer">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span> 0:02</span>
                  </div>
               </div>
            </div>

          </div>
        </div>

      </div>

      <div class="divider blue"></div>

      <footer class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 categories" >
          <div class="list_wrapper">
            <div class="header">Information</div>
            <div class="ui divider"></div>
            <div class="list">
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">About</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Team</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Careers</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Privacy</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Reviews</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Copyright Policy</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 categories" >
          <div class="list_wrapper">
            <div class="header">Categories</div>
            <div class="ui divider"></div>
            <div class="list">
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">About</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Team</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Careers</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Privacy</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Reviews</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Copyright Policy</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 categories" >
          <div class="list_wrapper">
            <div class="header">Customer Support</div>
            <div class="ui divider"></div>
            <div class="list">
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">View FAQs</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Authenticity Guarantee</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Buyer Protection</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="text">Buyer Terms of Use</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 categories" >
          <div class="list_wrapper">
            <div class="header">Contact Us</div>
            <div class="ui divider"></div>
            <div class="list">
              <div class="list_item">
                <span class="icon"><i class="fa fa-map-marker biger" aria-hidden="true"></i></span>
                <span class="text">1349th St, ABC Fl 5/4 City XYZ</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-phone biger" aria-hidden="true"></i></span>
                <span class="text">1-234-1234-567</span>
              </div>
              <div class="list_item">
                <span class="icon"><i class="fa fa-envelope biger" aria-hidden="true"></i></span>
                <span class="text">info@justwhatsup.com</span>
              </div>
            </div>
          </div>
        </div>
      </footer>


    </div>
  </body>

  <!--Head include!-->
  <%-include('./Common/scripts')%>
</html>
