<div class="user_menu">
    <a class="item <%if(active==1){%> active <%}%>" href="/my/auction"> 
        <i class="trophy icon"></i> Auction
    </a>
    <a class="item <%if(active==2){%> active <%}%>" href="/my"> 
        <i class="shopping bag icon"></i> Orders & Winnings
    </a>
    <a class="item <%if(active==3){%> active <%}%>"> 
        <i class="heart icon"></i> Wishes
    </a>
    <a class="item <%if(active==4){%> active <%}%>"> 
        <i class="mail icon"></i> Messages
    </a>
    <a class="item <%if(active==5){%> active <%}%>"> 
        <i class="alarm icon"></i> Notifications
    </a>
    <a class="item <%if(active==6){%> active <%}%>"> 
        <i class="hourglass full icon"></i> History
    </a>
    <a class="item <%if(active==7){%> active <%}%>"> 
        <i class="settings icon"></i> Settings
    </a>
</div>