<!DOCTYPE html>
<html lang="en">
   
    <!--Head include!-->
    <%-include('./Common/head')%>
    <link rel="stylesheet" href="../GeneralAssets/css/responsive.css">
    
    <body>
    
    </body>
</html>
