<!DOCTYPE html>
<html lang="en">

<!--Head include!-->
<%-include('../Common/head')%>

    <link rel="stylesheet" href="../UserAssets/css/common/index.css" />
    <link rel="stylesheet" href="../GeneralAssets/css/responsive.css">

    <body>
        <div class="top_wrapper gradiental_background"></div>
        <div class="vrf-wrapper">
            <a href='/'>
               <img src="../GeneralAssets/img/logo.png" alt="" />
            </a>
        </div>
        <div>
            <div class="vrf-text">
                Hello, Dan ! We are so glad to see your here. Now you're with us.
            </div>

        </div>

    </body>

</html>